body{
  background: rgb(32, 32, 32);
}
.dummyClass{
  background: linear-gradient(to right, black, rgb(3, 36, 46));
    border: solid;
    border-color: rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    border-width: 2px;

    height: 4em;

    display: grid;
}
.dummyClass:hover{
  background: linear-gradient(to right, black, rgb(4, 46, 59));
}
#title{
  font-family: 'Supermercado One', cursive;
  font-weight: 400;
  color: rgb(210, 246, 248);
  
  margin-left: 1ch;
  margin-top: 1.5em;
}
#navbar{
  font-family: 'Supermercado One', cursive;
  color: aliceblue;
  border-width: 1px;
  margin-top: 1ch;

  width: 25em;
  height: 3.2em;
  border-radius: 10px;
  grid-column: 3;

  display: flex;
}
.nav-item{
  background:rgb(32, 32, 32);
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: black;

  flex: 1 1 100%;
  max-width: 10ch;
  height: 3ch;
  margin-left: 1ch; 
  margin-top: 1.8em;

  color: rgb(210, 246, 248);
  text-align: center;
}

